<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
    </head>
    <body>
        <div class="registration-form">
            <form method="post" action="/registration-form" id="registration-form">
                <input type="text" name="user_name" placeholder="username" required>
                <input type="email" name="email" placeholder="name@gmail.com" required>
                <input type="password" name="password" placeholder="name@gmail.com" required>
                <input type="submit">
            </form>
        </div>
    </body>
</html>