<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
        <link th:href="@{/static/styles/registration-style.css}" rel="stylesheet">
        <link th:href="@{/static/styles/feed-style.css}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-main">
                <h1 class="logo center"><a href="/nl-feed">УМНАЯ ЛЕНТА</a></h1>
                <input th:if="${header.isShowNav()}" id="search" class="search-line center" type="text" autocomplete="off" onfocus="searchLineWords()" onblur="killLineWords()" placeholder="Поиск в Умной Ленте">
                <nav th:if="${header.isShowNav()}" class="buttons-area" th:each="button: ${header.getButtons()}">
                    <div class="button" th:classappend="${button.isActive() == true ? 'active' : ''}">
                        <h2><a th:href="${button.getLink()}" th:text="${button.getName()}" /></h2>
                    </div>
                </nav>
            </div>
            <div th:if="${header.isShowNav()}" class="header-user-area">

                <a th:if="${header.isEntered()}" class="functional-button" th:text="${header.getUser().getUserName()}">
                    vlad.polkhovsky
                </a>

                <div th:if="${header.isEntered()}" class="click-options">
                    <div class="left-border">
                        <a class="click-option" href="/settings">Настройки</a>
                        <a class="click-option" href="/logout">Выход</a>
                    </div>
                </div>

                <a th:if="${!header.isEntered()}" class="functional-button" href="/registration-form">
                    <span class="login-button">
                        ВХОД
                        <img src="https://www.vseprosport.ru/images/user/default.png" />
                    </span>
                </a>

            </div>
        </header>
        <div class="authorization-area">
            <div class="login-form form">
                <h1 class="block-header tabbed">Вход</h1>
                <div class="background-white">
                    <form class="vertical-form" method="post" action="/login" id="login-form">
                        <input id="l-user-name" type="text" name="user-name" placeholder="Имя пользователя" autocomplete="on" required />
                        <input id="l-password" type="password" name="password" placeholder="Пароль" autocomplete="on" required />
                        <div class="in-line-buttons">
                            <a href="/reset-password">Забыли пароль</a>
                            <input id="l-button-submit" class="st-button" type="submit" value="Войти" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="registration-form form">
                <h1 class="block-header tabbed">Регистарация</h1>
                <div class="background-white">
                    <form class="vertical-form" method="post" action="/registration-form" id="registration-form">
                        <input autocomplete="off" id="user-name" type="text" name="user_name" placeholder="Ваше имя" required />
                        <span id="user-name-checker-span" class="password-checker"></span>
                        <input autocomplete="off" id="email" type="email" name="email" placeholder="Ваш e-mail" required />
                        <input autocomplete="new-password" id="password-1" type="password" name="password" placeholder="Пароль" required />
                        <input autocomplete="new-password" id="password-2" type="password" name="password" placeholder="Повторите пароль" required />
                        <span id="password-checker-span" class="password-checker"></span>
                        <input id="button-submit" class="st-button" type="submit" value="Зарегистрироваться" />
                    </form>
                </div>
            </div>
            <script th:src="@{/static/scripts/reg-form-checker.js}"></script>
            <script th:src="@{/static/scripts/feed-script.js}"></script>
        </div>
    </body>
</html>