<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Регистрация</title>
        <link th:href="@{/static/styles/registration-style.css}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="status-area" th:if="${status.getStatus() == 0}">
            <h1 class="block-header ok-status tabbed">Статус регистрация: OK</h1>
            <div class="status-description">
                <p th:text="${status.getMessage()}"/>
                <a class="st-button tabbed" href="/index.jsp">Войти</a>
            </div>
        </div>
        <div class="status-area" th:if="${status.getStatus() == 1}">
            <h1 class="block-header error-status tabbed">Статус регистрация: Error</h1>
            <div class="status-description">
                <p th:text="${status.getMessage()}"/>
                <ul>
                    <li th:if="${status.getLoginMessage() != 'OK'}">
                        <span class="status-error-caption">Имя пользователя</span>
                        <span class="status-error-description tabbed" th:text="${status.getLoginMessage()}" />
                    </li>
                    <li th:if="${status.getEmailMessage() != 'OK'}">
                        <span class="status-error-caption">Email</span>
                        <span class="status-error-description tabbed" th:text="${status.getEmailMessage()}" />
                    </li>
                    <li th:if="${status.getPasswordMessage() != 'OK'}">
                        <span class="status-error-caption">Пароль</span>
                        <span class="status-error-description tabbed" th:text="${status.getPasswordMessage()}" />
                    </li>
                </ul>
                <a class="st-button tabbed" href="/registration-form">Регистрация</a>
            </div>
        </div>
    </body>
</html>