.package-settings {
    width: 80%;
    max-height: 700px;
    max-width: 1000px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.package-block {
    max-height: 600px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.background-white-package {
    background-color: white;
}

.vertical-rule {
    background-color: #595959;
    border-radius: 1px;
    width: 3px;
    height: 95%;
    margin-top: auto;
    margin-bottom: auto;
}

.l-package {
    height: 550px;
    width: 39%;
}

.r-package {
    height: 550px;
    width: 60%;
}

.my-package-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.my-package-list-items {
    max-height: 400px;
    height: 400px;
    overflow-y: scroll;
}

.my-package-list-items-r {
    max-height: 400px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

li {
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal;
}

.p-name {
    letter-spacing: 1px;
}

.active {
    color: blueviolet;
    font-weight: bold;
}

.name-area {
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-family: 'Comfortaa', sans-serif;
}

.links-font {
    font-family: 'Comfortaa', sans-serif;
}

#pLinksList {
    margin-left: auto;
    margin-right: auto;
}

.name-area input[type=text] {
    font-family: 'Comfortaa', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 300px;
    font-size: large;
    padding-bottom: 0;
    border: none;
    border-bottom: 2px solid blueviolet;
    color: blueviolet;
    transition: all 0.3s;
}

.name-area input:focus[type=text] {
    outline: none;
    font-size: larger;
    transition: all 0.5s;
    color: black;
    border-bottom: 2px solid white;

}

#pLinksList input[type=text] {
    font-family: 'Comfortaa', sans-serif;
    font-size: large;
    border: none;
    width: 250px;
    border-bottom: 2px solid blueviolet;
    color: blueviolet;
}

#pLinksList input:focus[type=text] {
    outline: none;
}

#pLinksList li input {
    margin-left: 20px;
}

#pLinksList li input[type=checkbox]  {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 27px;
}

#pLinksList li input[type=checkbox]:after {
    content: " ";
    background-color: blueviolet;
    display: inline-block;
    visibility: visible;
}

#pLinksList li input[type=checkbox]:checked:after {
    box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
    height: 30px;
    display: block;
    width: 30px;
    text-align: center;
    font-size: 9px;
    color: white;
}

.nav-bar {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.pLiLine {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}