<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>debug</title>
</head>
<body>
<table th:style="'margin: 0 auto; min-width:400px'" th:width="'40%'">
    <tbody>
    <caption th:text="'Активные сессии. servertime=' + |${nowtime}|" />
    <tr style="text-align: center">
        <td style="border-bottom: 1px solid black" th:width="'10%'">Session</td>
        <td style="border-bottom: 1px solid black" th:width="'30%'">User</td>
    </tr>
    <tr th:each="item : ${items}">
        <td style="border-bottom: 1px solid black; border-right: 1px solid black; text-align: center" th:width="'10%'" th:text="${item.session}" />
        <td style="border-bottom: 1px solid black" th:width="'30%'">
            <ul>
                <li th:utext="|${item.user.id}| + ' - id'" />
                <li th:utext="|${item.user.userName}| + ' - username'"/>
                <li th:utext="'time: ' + ${T(by.bsu.smarttape.utils.services.ActiveSessionService).calcTime(item.session)}" />
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>