<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Умная Лента</title>
        <link th:href="@{/static/styles/feed-style.css}" rel="stylesheet">
        <link th:href="@{/static/styles/post-style.css}" rel="stylesheet">
        <link th:href="@{/static/styles/profile-style.css}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    </head>
    <body onload="body_onload()">
    <header>
        <div class="header-main">
            <h1 class="logo center"><a href="/nl-feed">УМНАЯ ЛЕНТА</a></h1>
            <input th:if="${header.isShowNav()}" id="search" class="search-line center" type="text" autocomplete="off" placeholder="Поиск в Умной Ленте">
            <nav th:if="${header.isShowNav()}" class="buttons-area" th:each="button: ${header.getButtons()}">
                <div class="button" th:classappend="${button.isActive() == true ? 'active' : ''}">
                    <h2><a th:href="${button.getLink()}" th:text="${button.getName()}" /></h2>
                </div>
            </nav>
        </div>
        <div th:if="${header.isShowNav()}" class="header-user-area">

            <a th:if="${header.isEntered()}" class="functional-button" th:text="${header.getUser().getUserName()}">
                vlad.polkhovsky
            </a>

            <div th:if="${header.isEntered()}" class="click-options">
                <div class="left-border">
                    <a class="click-option" href="/control-panel/profile-settings">Настройки</a>
                    <a class="click-option" href="/logout">Выход</a>
                </div>
            </div>

            <a th:if="${!header.isEntered()}" class="functional-button" href="/registration-form">
                <span class="login-button">
                    ВХОД
                    <img src="https://www.vseprosport.ru/images/user/default.png" />
                </span>
            </a>

        </div>
    </header>
    <div class="feed-center" th:each="post : ${posts}">
        <div class="post">
            <div class="post-header">
                <img class="header-img" th:src="${post.getHeaderImageUrl()}" />
                <div class="header-tittle">
                    <h1>
                        <span class="header-user-name" th:text="'@' + |${post.getShortName()}|" />|<span th:text="|${post.getHeaderTittle()}|" />
                    </h1>
                    <p><span class="header-time" th:text="|${post.getTime()}|" />|<span class="header-package-info">Больше в пакете "Популярное".</span></p>
                </div>
            </div>
            <div class="attachments" th:if="${post.getAttachmentList().size() > 0}">
                <div class="attachment-image-vk" th:if="${post.getAttachmentListPicture().size() > 0}">
                    <div class="main-image">
                        <img th:src="${post.getAttachmentListPicture().get(0).getAttachmentUrl()}">
                    </div>
                    <div class="sub-images" th:if="${post.getAttachmentListPicture().size() > 1}">
                        <img th:each="att : ${post.getAttachmentListPicture()}" th:src="${att.getAttachmentUrl()}">
                    </div>
                </div>
<!--                <div class="attachment-video-vk">-->
                    <!-- <iframe src="https://vk.com/video_ext.php?oid=-146296329&id=456242326&hash=d7696db39a94a8aa" frameborder="0" allowfullscreen></iframe> -->
<!--                </div>-->
            </div>
            <div class="description-vk" th:if="${post.getDescription().length() > 0}">
                <p>
                    <span class="header-user-name" th:text="'@' + |${post.getShortName()}| + ':'" />
                    <span class="description-vk-text" th:text="|${post.getDescription()}|" />
                </p>
            </div>
        </div>
    </div>
    <div class="error-message" th:if="${exception != null}">
        <h1 class="tabbed">Произошла ошибка &#128534;</h1>
        <div class="background-white-error">
            <p th:utext="${exception.toString()}" />
        </div>
    </div>
    <script defer th:src="@{/static/scripts/feed-script.js}"></script>
    </body>
</html>