<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Умная Лента</title>
        <link th:href="@{/static/styles/feed-style.css}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
    <header>
        <div class="header-main">
            <h1 class="logo center"><a href="/nl-feed">УМНАЯ ЛЕНТА</a></h1>
            <input th:if="${header.isShowNav()}" id="search" class="search-line center" type="text" autocomplete="off" onfocus="searchLineWords()" onblur="killLineWords()" placeholder="Поиск в Умной Ленте">
            <nav th:if="${header.isShowNav()}" class="buttons-area" th:each="button: ${header.getButtons()}">
                <div class="button" th:classappend="${button.isActive() == true ? 'active' : ''}">
                    <h2><a th:href="${button.getLink()}" th:text="${button.getName()}" /></h2>
                </div>
            </nav>
        </div>
        <div th:if="${header.isShowNav()}" class="header-user-area">

            <a th:if="${header.isEntered()}" class="functional-button" th:text="${header.getUser().getUserName()}">
                vlad.polkhovsky
            </a>

            <div th:if="${header.isEntered()}" class="click-options">
                <div class="left-border">
                    <a class="click-option" href="/settings">Настройки</a>
                    <a class="click-option" href="/logout">Выход</a>
                </div>
            </div>

            <a th:if="${!header.isEntered()}" class="functional-button" href="/registration-form">
                <span class="login-button">
                    ВХОД
                    <img src="https://www.vseprosport.ru/images/user/default.png" />
                </span>
            </a>

        </div>
    </header>
    <script th:src="@{/static/scripts/feed-script.js}"></script>
    </body>
</html>