<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link th:href="@{/static/styles/registration-style.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="line-block">
            <h1 class="no-decoration"><a class="no-decoration" th:href="@{/nl-feed}">УМНАЯ ЛЕНТА</a></h1>
            <input type="text" placeholder="Поиск в Умной Ленте." autocomplete="off">
        </div>
        <div class="line-block">
            <a class="st-login" th:href="${header.link}">
                <span class="user-profile" th:utext="${header.caption}"/>
            </a>
        </div>
    </nav>
</header>
</body>
</html>