<div class="post">
    <div class="post-header">
        <img class="header-img" th:src="${post.getHeaderImageUrl()}" />
        <div class="header-tittle">
            <h1>
                <span class="header-user-name" th:text="'@' + |${post.getShortName()}|" />|<span th:text="|${post.getHeaderTittle()}|" />
            </h1>
            <p><span class="header-time" th:text="|${post.getTime()}|" />|<span class="header-package-info">Больше в пакете "Популярное".</span></p>
        </div>
    </div>
    <div class="attachments" th:if="${post.getAttachmentList().size() > 0}">
        <div class="attachment-image-vk" th:if="${post.getAttachmentListPicture().size() > 0}">
            <div class="main-image">
                <img th:src="${post.getAttachmentListPicture().get(0).getAttachmentUrl()}">
            </div>
            <div class="sub-images" th:if="${post.getAttachmentListPicture().size() > 1}">
                <img onclick="onImageSliderClick(this)" th:each="att : ${post.getAttachmentListPicture()}" th:src="${att.getAttachmentUrl()}" >
            </div>
        </div>
        <!--                <div class="attachment-video-vk">-->
        <!-- <iframe src="https://vk.com/video_ext.php?oid=-146296329&id=456242326&hash=d7696db39a94a8aa" frameborder="0" allowfullscreen></iframe> -->
        <!--                </div>-->
    </div>
    <div class="description-vk" th:classappend="${post.getDescription().length() < 120 ? '' : 'see-more'}" th:if="${post.getDescription().length() > 0}">
        <p>
            <span class="header-user-name" th:text="'@' + |${post.getShortName()}| + ':'" />
            <span class="description-vk-text" th:text="|${post.getDescription()}|" />
        </p>
    </div>
    <a class="bar" th:classappend="${post.getDescription().length() > 120 ? '' : 'hidden'}" onclick="return showMore(this)">Показать больше</a>
    <a class="bar hidden" onclick="return hide(this)" >Скрыть</a>
</div>